<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Lustre + Gleam</title>
  </head>
  <body class="bg-neutral-950 text-neutral-100 min-h-screen flex flex-col items-center justify-center antialiased selection:bg-fuchsia-500 selection:text-white">
    <div id="app" class="w-full flex items-center justify-center"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
